<a href="https://colab.research.google.com/github/ChristianCricchi/LearningPython/blob/main/Future_learning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

A piece of reusable code

Input(s) ---> Does something ---> Output(s)

Example:

In [ ]:
def double_number(n):
  return n * 2

The input is just n and it return n * 2
When we define function we do not need any of the input(s) we are using an alias or a nickname for that input. In this case the input is n it is when we call this function we actually specifie what we want that this input should to be.
If we ran this function does not happen nothin we need to call this function.

In [ ]:
double_number(500)

1000

# Test Driven Development

It is a way that we can sure that our functions do what we expect them to do so we start not by thinking about the code that will get us but we start by thinking about what is our input going to be and what output do we expect so for example:

Function to add VAT to numbers

Raw Price ---> VAT --> Price with VAT added

* Input ---> 1 - 2 - 10 - 100
  * Expected ---> Output 1.2 - 2.4 - 12 -120
    * Actual ---> Output 1.2 - 2.4 - 12 -120
      * Pass|Fail ---> Pass - Pass - Pass - Pass

In [ ]:
# We define the test cases as a dictionary
test_cases = {1:1.2, 2:2.4, 10:12, 100:120} # 1 ---> input,  1.2 ---> Expected

In [ ]:
# Run the function that will meet these test cases
def add_vat(n):
  return n * 1.2 # now just return n * 1.2

In [ ]:
# I will use a for loop so I can see if meet my test cases
for input, expected in test_cases.items():
  actual = add_vat(input)
  if actual == expected:
    print(f"The test case for input {input} has passed!")
  else:
    print(f"The test case for input {input} has failed!")

The test case for input 1 has passed!
The test case for input 2 has passed!
The test case for input 10 has passed!
The test case for input 100 has passed!

# Just return Hello World!

In [ ]:
def hello_world():
  return # write your code here

In [ ]:
def hello_world():
  return "Hello World!"

# What is a notebook?


---



*   IDE - Integrated development environment
*   Makes writting code easy
*   Cells can be run individually with the output underneath each cell
*   Extremely suitable for date work


# Google Colab
## What is Google Colab?


---



*   An online IDE for all your notebook needs!
*   Your own device does not matter!

In [ ]:
print('Hello World')

Hello World

# Declaring a variable


---

* What you need to create a variable:

    *  Name
    *  Equals sign (=)
    *  Value

* Example of variable being made:
    * my_variable = "Hello World!"

# Data Types
## Overview

---

* Data types decide what we can do with the data!
* Python is dynamically typed
  * It detemines the data typed based on what data or Oblect we give it.
* Syntax matters - different syntax can lead to different  data types.

## String

---

* It can ba a combination of:
  * Letters
  * Numbers
  * ASCII Characters
* Use single or double quotes to create a string.

* Some Examples:
  * my_variable = "Hello World"
  * my_variable = "27"
  * my_variable = 'I love data!'

## Floats


---

Floating point numbers, they are similar to integers except they refer to numbers that have at least one decimal, they can be again negative or positive.

* Some examples:
  * my_variable = 1.8
  * my_variable = -28.9
  * my_variable = 1593574.588

## Integers

---

* Integers are whole numbers without decimals.
* Can be any lenght.
* Positive or negative

* Some examples:
  * my_variable = 1
  * my_variable = -345
  * my_variable = 1593574588

## Boolean


---

* Booleans represent two values: True or False
* Useful at evaluating expressions
 Let's imagine we want to check if two numbers are equal. By testing it in Python we would have get:
  * True if are equal
  * False if they are not

## None Type

---

* None is nothing!
* Useful when we don't have data about something.
* It is not the same as:
  * False
  * An Empty string
  * 0

# Data collections

## Overview


---

What are Python data structures, you can think a data structure as a way organising and store data such we can modifie and access efficently like a container.

In python there are four type of data collection type:


*   List
*   Tuples
*   Dictionary
*   Sets

All Data structures have certain properties:

* Mutable or immutable
* Ordered or Unordered
* Can or cannot contain duplicates

## Lists

---

* Square barckets []
* Comma-separated (,) values
* Ordered, (meaning that the element maintains the same order as they were inserted. Unless explicitly changed)
* mutable (meaning we allowed to make changes)
* Duplicates allowed

We can have list inside list.

Example:

* ['Orange', 'Apple', 'Orange']
* [1, 3, 5, 5, 7, 9]
* ['Apple', 'Orange', 3, 6.08, True]

## Tuples


---

Big difference with  the list is that the tuples are *Immutable*

* Round brackets ()
* Comma-separated (,) values
* Ordered
* Immutable
* Suplicates allowed

Example:
* ('Orange', 'Apple', 'Orange')
* (1, 3, 5, 5, 7, 9)
* ('Apple', 'Orange', 3, 6.08, True)

## Dictionaries

---

* Curly Brackets {}
* Two components: Key-Value pair {k : v} {K which is the descriptor: v is the value that the key refers}
* Comma-separated (,) pairs
* Ordered (from the python 3.6 the dictionary are ordered)
* Mutable
* Do not allow duplicate Keys (but allow duplicate values)

Examples:

* {'Ice cream' : 'chocolate', 'Animal' : 'Guinea Pig'}
* {1 : 'flower', 2 : 'petal', 3 ; 'bee'}
* {'Name' : 'Lisa', 'Age' : 18}

## Set


---

* Curly brackets {}
* Comma-separeted (,) values
* Unordered (sets have no defined order)
* Mutable
* Does not allow duplicates
  * Automatically removes duplicates values
  * All elements are unique

Example:

* {'orange', 'apple'}
* {9, 1, 5, 3, 7}
* {3, 6.08, True, 'apple', 'orange'}

# Aritmetic Operators

---

* Data types decide what we can do with the data
* Python is dinamically typed
  * iT determines the data type based on what data or Object we give it.
* Syntax matters - different syntax can lead different data types

## Addition (+) & Subtraction (-)

In [ ]:
add = 1 + 2 +3
print(add)

6

In [ ]:
add = 8.0 + 2.0
print(add)

10.0

In [ ]:
x = 5
y = 3
ans = x + y
print(ans)

8

In [ ]:
sub = 3 - 2 - 1
print(sub)

0

In [ ]:
sub = 8.0 - 2.0
print(sub)

6.0

In [ ]:
sub = 3.5 - (-2)
print(sub)

5.5

In [ ]:
x = 5
y = 3
ans = x - y
print(ans)

2

## Modulus (%)

---

* Return the reminder of a division problem

In [ ]:
modulus = 4 % 2
print(modulus)

0

In [ ]:
modulus = 8.0 % 2.0
print(modulus)

0.0

In [ ]:
modulus = -9 % -4
print(modulus)

-1

In [ ]:
modulus = 5 % 2
print(modulus)

1

In [ ]:
modulus = -2 % 3.5
print(modulus)

1.5

In [ ]:
modulus = -9 % 4
print(modulus)

3

In [ ]:
modulus = 2 % 4
print(modulus)

2

In [ ]:
modulus = 2 % -3.5
print(modulus)

-1.5

In [ ]:
modulus = 9 % -4
print(modulus)

-3

## Moltiplication (*) & Division (/)



---

In [ ]:
mul = 2 * 3
print(mul)

6

In [ ]:
mul = 8.0 * 2.0
print(mul)

16.0

In [ ]:
mul = 2 * -3.5
print(mul)

-7.0

In [ ]:
x = 5
y = 3
ans = x * y
print(ans)

15

In [ ]:
div = 2 / 2
print(div)

1.0

In [ ]:
div = 8.0 / -2.0
print(div)

-4.0

In [ ]:
div = 5 / 3
print(div)

1.6666666666666667

In [ ]:
div = 10.0 / 2
print(div)

5.0

If we divede for 0 python will give an Error.

In [ ]:
x = 6
y = 0
div = x / y
print(div)

ZeroDivisionError: division by zero

## Exponentiation



---

* Multiplies a value with itself a certain number of time.

In [ ]:
exp = 4 ** 2
print(exp)

16

In [ ]:
exp = 8.0 ** 2.0
print(exp)

64.0

In [ ]:
exp = 5 ** -3
print(exp)

0.008

In [ ]:
exp = 5 ** 0
print(exp)

1

In [ ]:
exp = 2 ** 3.5
print(exp)

11.313708498984761

In [ ]:
exp = (-10) ** -2
print(exp)

0.01

## Floor Division

---

* Division, but rounded the result down to the nearest whole number.

In [ ]:
fld = 4 // 2
print(fld)

2

In [ ]:
fld = 8.0 // 2.0
print(fld)

4.0

In [ ]:
fld = -9 // -4
print(fld)

2

In [ ]:
fld = 5 // 2
print(fld)

2

In [ ]:
fld = -2 // 3.5
print(fld)

-1.0

In [ ]:
fld = -9 // 4
print(fld)

-3

In [ ]:
fld = 3 // 4
print(fld)

0

In [ ]:
fld = -2 // -3.5
print(fld)

0.0

In [ ]:
fld = 9 // -4
print(fld)

-3

# String concatenation

##Addiction

---

* What happens when we add two strings?

  'abc' + 'abc'
  
  Output: abcabc

* This is called concatenation

In [4]:
first = 'Lisa'
second = 'Carpenter'
full_name = first + ' ' + second
print(full_name)

Lisa Carpenter

* You cannot add string and numbers togheder.
  
  'abc' + 1

  Output: TypeError: can only concatenate str (not *int*) to str.

In [5]:
a = 'abc' + 1
print(a)

TypeError: can only concatenate str (not "int") to str

* String operations can only take place between strings, so a solution is to turn the number into a string.

  'abc' + str(1)

  Output: abc1

In [6]:
a = 'abc' + str(1)
print(a)

abc1

## Multiplication

---

* Lets see what happens if you multiply a string  by a number:

  'abc' * 5

  Output: abcabcabcabcabc

In [7]:
a = 'abc'* 5
print(a)

abcabcabcabcabc

* You cannot multiply two strings together!

  'abc' * 'abc'

  Output: TypeError: can't multiply sequence by non-int of type 'str'

In [8]:
a = 'abc' * 'abc'
print(a)

TypeError: can't multiply sequence by non-int of type 'str'

## Other operations

---

* No other operations would work!
* You would get an error

# Comparisons and Logic

## Assign Operator
---

* Used to assign a value to a variable.

  my_str = 'abc'
  x =5

In [63]:
my_str = 'abc'
print(my_str)
y = 5
print(y)

abc
5

In [71]:
x = x + 1
print(x)

14

In [76]:
x =+ 1
print(x)

1

In [77]:
a = 5
a += 5
a = 5
a *= 5
a -= 5

print(a)

20

## Arithmetic Assigment (=+, -=, *=, /=)

---

Assign an existing variable to itself following the result of an operation:

* x = x + 1

* Is the same as writing:
  
  x +=1

 * Following the rules of math and string operations, so will raise an error if used incorrectly

## Equality and Comparisond Operators

---

Comparisond operator are used to compare two values.

## Equality (==)

---



  Check whether two expressions give the same value.

In [3]:
1 == 1

True

In [4]:
'qwerty' == 1

False

* Used as a question can be used on any data types.

## Not Equal operator(!=)

---

* Opposite to  ==, compares wheter two expressions point to different values.

In [5]:
1 != 1

False

In [6]:
'rose' != 1

True

* Used as a question can be used on any data types.

## Comparisons Operator (>, <, >=, <=)

---

Check whether two expressions are greater or less than each other.

In [7]:
1 >= 2

False

In [8]:
'daffodil' < 1

TypeError: '<' not supported between instances of 'str' and 'int'

* Used as a question can be used only on similar data types. String can not be campared to numeric types.

## Is Operator

---

The 'is' operator  checks to see if 2  variables contain the same object.

In [14]:
my_string = 'hello'
my_string += ' world'
my_string2 = 'hello world'

my_string == my_string2

True

In [12]:
my_string is my_string2

False

In [19]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-19-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [20]:
1 != 'a'

True

In [21]:
1 < 'a'

TypeError: '<' not supported between instances of 'int' and 'str'

In [22]:
1.1 <= 1

False

In [23]:
1 == 1.0

True

In [18]:
1 is (2 - 1)

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-18-601367867c45>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is (2 - 1)

True

## if Statements

---

* An if statement checks a condition first.
* If the condition is True, then the code will be executed:

Example:

  a = 7

  b = 5

  if a > b:

        print('a is the larger number)

In [25]:
a = 7
b = 5
if a > b:
  print('a is the larger number')

a is the larger number

## elif Statement

---

* If the first condiction is not met, perhaps  we would like to check a second condiction.

* Elif is used to check another condiction without having to write a whole new if statement.

Example:

a = 20

b = 55

if a > b:

      print('a is the larger number')
  
elif a < b:

      print('b is the larger number')

In [26]:
a = 20
b = 55

if a > b:
      print('a is the larger number')

elif a < b:
      print('b is the larger number')

b is the larger number

## Else Statement

---

* What if we want to run some code if none of the conditions are true?

* An else branch always goes last.

* It catches all other outcome.

Example:

    a = 20
    b = 20
    if a > b:
        print('a is the larger number')
    elif a < b:
        print('b is the larger number')
    else:
        print('number are equal')

In [1]:
a = 20
b = 20
if a > b:
    print('a is the larger number')
elif a < b:
    print('b is the larger number')
else:
    print('number are equal')

number are equal

In [2]:
a = 10
b = 20
if a > b:
    print('a is the larger number')
elif a < b:
    print('b is the larger number')
else:
    print('number are equal')

b is the larger number

In [3]:
a = 20
b = 7
if a > b:
    print('a is the larger number')
elif a < b:
    print('b is the larger number')
else:
    print('number are equal')

a is the larger number

## Good Practice

---

* We should not make assumptions about the else  branch:

    a = 20
b = 7
if a > b:
    print('a is the larger number')
elif a < b:
    print('b is the larger number')
else:
    print('something's wrong')

## The if Statement Syntax

---

We start we the key word **if** and we have the condition (if a > b:) and we have the colon.

After the condiction we have the indentation, python use the indentation from the left to see what is considered part of the previous instruction.

In [4]:
a = 20
b = 20
if a > b:
    print('a is the larger number')
    print('a second new line')
elif a < b:
    print('b is the larger number')
else:
    print('number are equal')

number are equal

In [5]:
x = '2'
if x >= "0":
  print('I am larger alphabetically than 0')
elif x > 0:
  print('I am larger numerically than 0')
else:
  print('I am either less than 0 or a single character symbol')

I am larger alphabetically than 0

Though there would be an erroer in line 4 (because try to compare the string '2' with the integer 0), this code is not reached because the if statement is satisfied.

## List manipulation



---


* What is Indexing?

  A way to obtainelements in a data collection by referring to their  position aka index.
  python use zero-based indexing - it starting counting positions from 0.

  Example:

  breakfast = ['Egg Royale', 'Pancakes', 'Cocopops', 'Milk']

  index = [0] = Egg Royale, [1] = Pancakes, [2] = ECocopops, [3] = Milk,
  negative index =  [-4] = Egg Royale, [-3] = Pancakes, [-2] = Cocopops, [-1] = Milk,

In [22]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[0], 'is index [0]')
print(breakfast[1], 'is index [1]')
print(breakfast[2], 'is index [2]')
print(breakfast[3], 'is index [3]')

Eggs Royale is index [0]
Pancakes is index [1]
Cocopops is index [2]
Milk is index [3]

In [23]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[-4], 'is index [-4]')
print(breakfast[-3], 'is index [-3]')
print(breakfast[-2], 'is index [-2]')
print(breakfast[-1], 'is index [-1]')

Eggs Royale is index [-4]
Pancakes is index [-3]
Cocopops is index [-2]
Milk is index [-1]

In [24]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[0])

Eggs Royale

In [25]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[-3])

Pancakes

In [26]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[2])

Cocopops

## Indexing Lists and Strings

---

* You can also select an element within an element this will you select a small progressively  small pieces. When we have a multiple square brackets python read the the square brackets starting from the left.

Example:

    breakfast[0][3]

    python read [0] the first item from the breakfast list that in this case is 'Eggs Royale' and index [3] to pick the 4th item of the word eggs that in this case is 's'. After that you can not go any smaller, it will give you an error.

In [30]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[0][3])

s

In [31]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[1][5])

k

In [32]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[-3][3])

c

In [34]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[-1][0])

M

In [35]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']
print(breakfast[0][3][1])

IndexError: string index out of range

## Neasted List

---

* Finally, using the same logic, you can also access list and smaller components within them.

Example:

      listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]

In [38]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[0]

[1, 2, 3]

In [39]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[-1][0]

'potato'

In [40]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[1][-2]

5

In [41]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[-1][0][4]

't'

In [49]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[-1][2][2]

'g'

In [51]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[2][1][4]

'd'

In [52]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[-1]

['potato', 'salad', 'egg']

In [53]:
listy = [[1,2,3], [4,5,6], ['potato', 'salad','egg']]
listy[-3]

[1, 2, 3]

In [60]:
animals = ['tigers', 'bears', ['ducks', 'giraffes', 'pandas'], 'cows']
animals[2][0]

'ducks'

## What is a slicing?


---

Can be used to select more than just one item.

* You can use indexing on more than one item to perform slicing.

* Syntax of slicing:
    
    * a [start : stop] does not include the stop potition
    * a [start : ]
    * a [ : stop]
    * a [ : ]

* There is also the step value (can be use to skip value), which can be used with any of the above:

    * a [start : stop : step]

* Step value is 1 by default.

In [6]:
a = [1, 2, 3, 4, 5, 6]
print(a)

[1, 2, 3, 4, 5, 6]

In [10]:
print(a[0:3])

[1, 2, 3]

In [12]:
print(a[2:])

[3, 4, 5, 6]

In [13]:
print(a[:4])

[1, 2, 3, 4]

In [14]:
print(a[:])

[1, 2, 3, 4, 5, 6]

In [15]:
print(a[0:3:2])

[1, 3]

In [16]:
print(a[2:4:2])

[3]

## Using negative Indexing

---

* As inindexing, the start or stop may be a negative number.

* Which means it counts from the end of the array instead of the beginning:

    * a [-1]

    * a [-2 : ]

    * a [ : -2]

* Similarly, the step  may be a negative number:

    * a [: : -1]
    * a [1 : : -1]
    * a [: -3 : -1]

In [13]:
 a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
 print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print(a[-1])

9

In [15]:
print(a[-2 :])

[8, 9]

In [16]:
print(a [: -2])

[1, 2, 3, 4, 5, 6, 7]

In [21]:
print(a[: : -1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
print(a[1 : : -1])

[2, 1]

In [23]:
print(a[: -3 : -1])

[9, 8]

In [24]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
print(x[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
print(x[-3 :])

[7, 8, 9]

In [27]:
print(x[: 1])

[0]

In [28]:
print(x[: : 5])

[0, 5]

In [29]:
print(x[: 5])

[0, 1, 2, 3, 4]

In [4]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']

In [5]:
breakfast[: -1]

['Eggs Royale', 'Pancakes', 'Cocopops']

In [6]:
breakfast[2 :]

['Cocopops', 'Milk']

In [7]:
breakfast[: -99]

[]

In this case python does not give an error to us, but just an empty value because we do not have this index.
More examples.

In [8]:
breakfast = ['Eggs Royale', 'Pancakes', 'Cocopops', 'Milk']

In [9]:
breakfast[0][2:]

'gs Royale'

In [10]:
breakfast[0][: -7]

'Eggs'

In [11]:
breakfast[0][:]

'Eggs Royale'

In [12]:
breakfast[1 : : 2]

['Pancakes', 'Milk']